@import '../../assets/variables';

.pagination {
  display: flex;
  justify-content: center;
  &__inner {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: $default-shadow;
    border-radius: 25px;
  }
  &__arrow {
    width: 15px;
    color: $violet;
    cursor: pointer;
    &-left {
      transform: rotate(-180deg);
      margin-right: 15px;
    }
    &-right {
      margin-left: 15px;
    }
    &[disabled] {
      opacity: 0.5;
    }
    svg {
      display: block;
    }
  }
  &__separator {
    margin-left: 15px;
    margin-right: 15px;
  }
  &__page-btn {
    width: 35px;
    height: 35px;
    border: 1px solid $violet;
    color: $violet;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &.current {
      background-color: $violet;
      color: #fff;
    }
  }
}

@media (max-width: 425px) {
  .pagination {
    &__page-btn {
      width: 25px;
      height: 25px;
      font-size: 14px;
    }
    &__separator {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
