@import '../../assets/variables';

.product-list {
  margin-bottom: 20px;
  min-height: 600px;
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  &__no-products {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    color: $grey;
  }
}
