@import '../../assets/variables';

.error-message {
  text-align: center;
  margin-top: 50px;
  color: $red;
  &__icon {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

@media (max-width: 426px) {
  .error-message {
    &__icon {
      width: 120px;
    }
    &__title {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }
}
