@import '../../assets/variables';

.product-card {
  position: relative;
  padding: 15px 10px;
  margin-bottom: 25px;
  width: 22%;
  border-radius: 10px;
  border-top: 15px solid $violet;
  background-color: #fff;
  box-shadow: $default-shadow;
  overflow: hidden;
  &.in-cart {
    border-top: 15px solid $green;
  }
  &.my-product {
    border-color: $coral;
  }
  h3 a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: $grey;
      text-decoration: underline;
    }
  }
  &:not(:nth-child(4n)) {
    margin-right: 4%;
  }
  &:hover {
    .product-card {
      &__add-to-cart,
      &__edit {
        transform: translateY(0);
      }
    }
  }
  &__info {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__origin {
    color: $grey;
    font-size: 14px;
  }
  &__price {
    font-weight: 700;
    margin-top: 10px;
    font-size: 18px;
  }
  button.product-card__add-to-cart,
  button.product-card__edit {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 40px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    transform: translateY(40px);
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transition: 0.1s;
      transform: none;
      opacity: 0.7;
    }
    svg {
      display: inline-block;
      width: 20px;
      color: #fff;
    }
  }
  &__add-to-cart {
    bottom: 10px;
    right: 10px;
    background-color: $violet;
  }
  &__edit {
    bottom: 10px;
    left: 10px;
    background-color: $coral;
  }

  .check-icon {
    position: absolute;
    width: 30px;
    bottom: 10px;
    right: 10px;
    color: $green;
  }
}

@media (max-width: 1025px) {
  .product-card {
    &__add-to-cart,
    &__edit {
      transform: none;
    }
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 47%;
    h3 {
      font-size: 16px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:not(:nth-child(2n)) {
      margin-right: 6%;
    }
  }
}

@media (max-width: 768px) {
  .product-card {
    &__add-to-cart,
    &__edit {
      border-radius: 15px;
      width: 4em;
    }
    &__add-to-cart,
    .in-cart-icon {
      position: static;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
