@import '../../assets/variables';

.add-to-cart-modal {
  padding: 25px;
  text-align: center;
  &__price {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    color: $grey;
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 5px;
  }
  .counter {
    margin-bottom: 20px;
  }
}
